html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.firstMintList {
  visibility: hidden;
  display:none;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}




.mintContainer {
  animation: mintBox 0.5s;
}

@keyframes mintBox {
  0% {
    transform: translateY(-7vh); 
  }

  100% {
    transform: translateY(-0); 
  }
}