


@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
    background-color: green;
    border-top:2px solid red;
    position: fixed;
    width: 100%;
    bottom: 0;
    color: white;
    font-size: 25px;
   }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
  .flex-row{flex-direction:row}
  .flex-row{display:flex;align-items:center}
  
}


